#guestLoginButton{
    display: inline-block;
    width: 186px;
    height: 35px;
    white-space: nowrap;
    border-radius: 5px;
    left: 50%;
    margin-left: -93px;
}
#googleplusSigninButton {
    background: url('./images/g+/googleSignin_long_32dp.png') transparent 0px 50% no-repeat;
    display: inline-block;
    color: white;
    width: 192px;
    height: 35px;
    position: absolute;
    left: 50%;
    margin-left: -97px;
    white-space: nowrap;
}
#googleplusSigninButton:hover {
    background: url('./images/g+/googleSignin_long_hover_32dp.png') transparent 0px 50% no-repeat;
    cursor: hand;
}