.layout_leaderboardno {
	background-color:#98E882;
	width:20%;
	padding:6px;
	text-align:center;
	font:20px roboto,sans-serif;
	font-weight:lighter;
}

.layout_leaderboardname {
	background-color:#98E882;
	width:80%;
	padding:6px;
	text-align:center;
	font-weight:lighter;
}

.layout_leaderboardname:active {
	background-color:#DEFDDE;
}


.layout_helpcontents {
	background-color:#98E882;
	width:80%;
	padding:6px;
	text-align:center;
	font-weight:lighter;
}

.layout_helpcontents:active {
	background-color:#DEFDDE;
}

.ui-icon-gpicon:after {
    background-image: url("../img/gplus.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-fbicon:after {
    background-image: url("../img/fb.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}
.ui-icon-twicon:after {
    background-image: url("../img/twitter.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}

#map-canvas { height: 100%}