.layout_header {
	background-color:#236E0F;
	height:50px;
	width:1100px;
	padding:20px 25px;
	color:#FFFFFF;
	font:50px roboto,sans-serif;
	font-weight:lighter;
}

.layout_menu {
	background-color:#CEF7C3;
	height:50px;
	width:150px;
	padding:25px;
	color:#000000;
	font:22px roboto,sans-serif;
	font-weight:lighter;
}

.layout_menu:hover {
	background-color:#98E882;
}

.layout_selectedmenu {
	background-color:#98E882;
	height:50px;
	width:150px;
	padding:25px;
	color:#000000;
	font:22px roboto,sans-serif;
	font-weight:lighter;
}

.layout_map {
	background-color:#CEF7C3;
	width:900px;
}

.layout_footer {
	height:20px;
	background-color:#236E0F;
	text-align:center;
	color:#FFFFFF;
	font:12px roboto,sans-serif;
	font-weight:lighter;
}

.layout_titleheader {
	background-color:#236E0F;
	height:400px;
	padding:50px;
	color:#FFFFFF;
	font:110px roboto,sans-serif;
	font-weight:lighter;
}

.layout_titlethird {
	background-color:#CEF7C3;
	height:250px;
	width:367px;
	padding:25px;
	color:#000000;
	font:20px roboto,sans-serif;
	font-weight:lighter;
	vertical-align:middle;
}

.layout_titlemiddlethird {
	background-color:#CEF7C3;
	height:250px;
	width:366px;
	padding:25px;
	color:#000000;
	font:20px roboto,sans-serif;
	font-weight:lighter;
	vertical-align:middle;
}

.layout_contentmain {
	background-color:#CEF7C3;
	height:750px;
	width:850px;
	padding:35px;
	color:#000000;
	font:20px roboto,sans-serif;
	font-weight:lighter;
	vertical-align:top;
}

.layout_leaderboarddropdown {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

.layout_leaderboardno {
	background-color:#98E882;
	width:70px;
	padding:6px;
	text-align:center;
	font:20px roboto,sans-serif;
	font-weight:lighter;
}

.layout_leaderboardname {
	background-color:#98E882;
	padding:6px;
	text-align:center;
	font:20px roboto,sans-serif;
	font-weight:lighter;
}

.layout_leaderboardname:hover {
	background-color:#DEFDDE;
}